<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Angular Material Basic App</title>
    
    
    
    
        <link rel="stylesheet" href="justtryingstuff.css">

    
    
    
  </head>

  <body>

      <html lang="en" ng-app="vertaYak">
      <head>
          <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
          <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"><!-- load bootstrap -->
          <meta name="viewport" content="initial-scale=1" />
      </head>
      <body layout="column" layout-align="start center" ng-controller="mainController">
          <md-toolbar id="banner" layout="row">
              <div class="md-toolbar-tools">
                  <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                      <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
                  </md-button>
                  <h1>VertaYak</h1>
              </div>
          </md-toolbar>

          <div id="content">
              <div layout="row">
              </div>

              <md-content layout-padding>
                  <md-input-container flex>
                      <label>Say Something!</label>
                      <input ng-model="formData.text">
                  </md-input-container>
                  <md-button class="md-raised" ng-click="createMessage()">Submit!</md-button>
              </md-content>

              <div layout="row" flex>
                  <md-content layout="column" layout-fill style="padding-bottom: 32px;" class="whiteframedemoBasicUsage">
                      <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" ng-repeat="message in messages">
                          <span>{{message.text}}</span>
                      </md-whiteframe>
                  </md-content>
              </div>
          </div>

          <!-- Angular Material Dependencies -->
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script><!-- load jquery -->
          <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
      </body>
  </html>
    
        <script src="justtryingstuff.js"></script>

    
    
    
  </body>
</html>
