.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.whiteframedemoBasicUsage md-whiteframe {
  background: #fff;
  margin: 20px;
  padding: 16px 24px 8px 24px; }

.banner {
    background-color: orange
}

.content-block {
    max-width: 720px;
    margin: 0 auto 0 auto;
}